fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings

numpy
pandas

opencv-python
deepface

speechbrain
librosa

azure-ai-projects
azure-ai-inference
azure-identity

azure-storage-blob

azure-cosmos

openai

python-multipart

scikit-learn

matplotlib

pytest

httpx
